<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUL IIS</title>
    <!-- <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/student.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>
<body>
    <aside class="side-bar">
        <div class="side-bar-logo">
            <h1>FUL IIS</h1>
        </div>
        <div class="staff_nav_top">
          <ul class="staff_nav_link">
            <li>
              <a href="">Take Test</a>
            </li>
            <li>
                <a href="">Exam History</a>
              </li>
          </ul>
        </div>
        <div class="staff_nav_divider"></div>

        <div class="staff_nav_bottom">
          <ul>
            <li>
              <a href="">Result</a>
            </li>
          </ul>

          <div class="btn-container">
            <a href="" class="btn">Logout</a>
          </div>
        </div>
            
    </aside>
    
    <main>
       <div class="body">
        <div>
          
        </div>

       </div>
  
        
    </main>
    
</body>
</html>